<!DOCTYPE html>
<html lang="zh">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>于敬晖的个人简历</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <i class="fa fa-play-circle"></i> <span class="light">简历首页</span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#education">教育经历</a>
                </li>
                <li>
                    <a class="page-scroll" href="#work">工作经历</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">联系方式</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading"><a target="_blank" href="http://www.yujinghui.com">于敬晖</a></h1>

                    <p class="intro-text">
                        我是一个python工程师,有三年的工作经验,半吊子C的水平,会一点java,爱谁谁.就问你一句你看我行不?
                    </p>
                </div>
            </div>
            <div class="row">
                <a href="#education" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a></div>
        </div>
    </div>

</header>

<!-- About Section -->
<section id="education" class="intro content-section text-center">
    <div class="container">
    <div class="row">
        <div class="col-lg-2 col-lg-offset-1">
            <h5>教育经历</h5>
        </div>
        <div class="col-lg-6">
            <p>计算机科学与技术<br/>
                中南大学 <br/>
                <i>这是啥</i>
            </p>
        </div>
        <div class="col-lg-3">
            <p>2009.9-2013.6</p>
        </div>
    </div>
    <div class="row">
        <a href="#work" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
        </a></div></div>
</section>

<!-- work exper Section -->
<section id="work" class="intro content-section text-center">
    <div class="container">
    <div class="row">
        <div class="col-lg-2 col-lg-offset-1">
            <h5>工作经验</h5>
        </div>
        <div class="col-lg-6">
            <p>java软件工程师<br/>
                南航信息中心 <br/>
                <i>1.5 Years</i>
            </p>
        </div>
        <div class="col-lg-3">
            <p>2013.7-2015.4
            </p>
        </div>
        <div class="col-lg-6 col-lg-offset-3">
            <p>
                <t>python软件工程师</t>
                <br/>
                鹰漠旅行<br/>
                <i>2 Years</i>
            </p>
        </div>
        <div class="col-lg-3">
            <p>2015.4-至今</p>
        </div>
    </div>
    <div class="row">
        <a href="#contact" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
        </a></div></div>
</section>


<!-- Contact Section -->
<section id="contact" class="intro content-section text-center">
    <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>觉得不错就发面试邀请吧</h2>

            <p>我是个傻吊,不骗你</p>

            <p><a href="mailto:jinghuiace@gmail.com">jinghuiace@gmail.com</a>
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a target="_blank" href="https://twitter.com/JinghuiYu" class="btn btn-default btn-lg"><i
                            class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li>
                    <a target="_blank" href="https://github.com/yujinghui" class="btn btn-default btn-lg"><i
                            class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
                <li>
                    <a target="_blank" href="http://weibo.com/jinghuiace" class="btn btn-default btn-lg"><i
                            class="fa fa-weibo fa-fw"></i> <span class="network-name">Weibo</span></a>
                </li>
            </ul>
        </div>
    </div></div>
</section>


<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>模板来源于<a target="_blank"
                   href="https://github.com/IronSummitMedia/startbootstrap-grayscale">Grayscale</a></p>
    </div>
</footer>

<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.easing.min.js"></script>
<script src="/static/js/grayscale.js"></script>

</body>

</html>
