<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/form-elements.css">
    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>设置自己的偏好吧</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <script src="assets/js/jquery-1.11.1.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>
    <script>
        $(function () {
            var mydomain = $("#mydomain");
            var myprofile = $("#myprofile");
            var gotoMyDomain = $("#gotoMyDomain");
            var addEdu = $("a[name='addEdu']");
            var addWork = $("a[name='addWork']");
            addEdu.click(function () {
                alert("hello");
                window.location = '/' + mydomain.val();
            });
            addEdu.click(function () {
                alert("hello");
                window.location = '/' + mydomain.val();
            });
            gotoMyDomain.click(function () {
                window.location = '/' + mydomain.val();
            });

        });
    </script>
</head>

<body>
<div class="headerwrap">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-12">
                <h1><strong>William T. Kelvin</strong></h1>
            </div>
        </div>
    </div>
</div>


<section id="about" name="about"></section>
<div id="intro">
    <div class="container">
        <div class="row">

            <div class="col-lg-2 col-lg-offset-1">
                <h5>ABOUT</h5>
            </div>
            <form>
                <div class="col-lg-6">
                    设置自己的个性域名吧, 设置以后就不能改咯<input type="text" id="mydomain">
                </div>
                <div class="col-lg-6 col-lg-offset-3">
                    上传自己的头像 <input type="file" id="myprofile">
                </div>
                <div class="col-lg-6 col-lg-offset-3">
                    <input type="submit">
                </div>
            </form>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-2 col-lg-offset-1">
            <h5>EDUCATION</h5>
        </div>
        <div class="col-lg-6">
            学校<input type="text">
        </div>
        <div class="col-lg-6 col-lg-offset-3">
            专业<input type="text">
        </div>
        <div class="col-lg-6 col-lg-offset-3">
            时间段:<input type="date">-<input type="date">
        </div>
    </div>
    <div class="row">
        <a name="addEdu" class="btn">
            <i class="fa fa-plus-circle animated"></i>
        </a>
    </div>
    <br>
    <hr>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-2 col-lg-offset-1">
            <h5>WORK</h5>
        </div>
        <div class="col-lg-6">
            学校<input type="text">
        </div>
        <div class="col-lg-6 col-lg-offset-3">
            专业<input type="text">
        </div>
        <div class="col-lg-6 col-lg-offset-3">
            时间段:<input type="date">-<input type="date">
        </div>
    </div>
    <div class="row">
        <a name="addWork" class="btn">
            <i class="fa fa-plus-circle animated"></i>
        </a>
    </div>
    <br>
    <hr>
</div>
<div role="form" class="login-form">
    <input type="button" class="btn" id="gotoMyDomain">去我的简历看看吧(目前模板不多你们看着办)</button>
</div>
</body>
</html>
